*.opensdf
*.sdf
*.suo
*.db
*.vcxproj.user
*.exe
*.ilk
*.pdb
*.dll.metagen
Code Notes/Debug/
Code Notes/Release/
Debug/
Release/
ipch/
Utilities/wrapper/ipch/
Utilities/Wrapper/Build/
Utilities/Wrapper/wrapper/Debug/
Utilities/Wrapper/wrapper/Release/
Utilities/Wrapper/native/Debug/
Utilities/Wrapper/native/Release/
Utilities/Wrapper/managed/obj/
Utilities/ColourBlender/obj/
Utilities/ColourBlender/bin/
Utilities/ToneMapping/obj/
Utilities/ToneMapping/bin/