*.opensdf
*.sdf
*.suo
*.db
*.vcxproj.user
*.exe
*.ilk
*.pdb
*.dll.metagen
Wrapper/ipch/
Wrapper/Build/
Wrapper/wrapper/Debug/
Wrapper/wrapper/Release/
Wrapper/native/Debug/
Wrapper/native/Release/
Wrapper/managed/obj/
ColourBlender/obj/
ColourBlender/bin/
ToneMapping/obj/
ToneMapping/bin/
QtSample/build/ 
