@import "layout_styles.css";

html, body {margin: .25em 0 0 0; padding: 0; font-family: "Trebuchet MS",Verdana, Geneva, Arial, Helvetica, sans-serif; background-color: #FFFFFF; color: #333333;}
* html body {font-size: 100%!important;}
#printLogo {display: none;}
form {margin: 0; padding: 0;}

a.skip, a:link.skip, a:visited.skip {font-size: .6em; text-decoration: none; background-color: inherit; color: #6F5D80;}
a:hover.skip, a:active.skip {background-color: #EDD9FF; color: #555555;}


.colorway1 #quote .text {background-color: inherit; color: #B33642; font-size: .8em; font-weight: bold;}
.colorway2 #quote .text {background-color: inherit; color: #D9A714; font-size: .8em; font-weight: bold;}
.colorway3 #quote .text {background-color: inherit; color: #70800D; font-size: .8em; font-weight: bold;}
.colorway4 #quote .text {background-color: inherit; color: #4D648C; font-size: .8em; font-weight: bold;}
.colorway5 #quote .text {background-color: inherit; color: #6F4D8C; font-size: .8em; font-weight: bold;}

.colorway1 #LocalNav li {border-bottom: 1px dotted #B33642;}
.colorway2 #LocalNav li {border-bottom: 1px dotted #D9A714;}
.colorway3 #LocalNav li {border-bottom: 1px dotted #70800D;}
.colorway4 #LocalNav li {border-bottom: 1px dotted #4D648C;}
.colorway5 #LocalNav li {border-bottom: 1px dotted #6F4D8C;}

.colorway1 #LocalNav ul li.header {background-color: #FFFFFF; color: #B33642; font-size: 1em;}
.colorway2 #LocalNav ul li.header {background-color: #FFFFFF; color: #D9A714; font-size: 1em;}
.colorway3 #LocalNav ul li.header {background-color: #FFFFFF; color: #70800D; font-size: 1em;}
.colorway4 #LocalNav ul li.header {background-color: #FFFFFF; color: #4D648C; font-size: 1em;}
.colorway5 #LocalNav ul li.header {background-color: #FFFFFF; color: #6F4D8C; font-size: 1em;}

/* #LocalNav ul li.header {background-color: #FFFFFF; color: #6F4D8C; font-size: 1em;} */

#LocalNav ul li.header2 {background-color: #FFFFFF; color: #6F4D8C; font-size: .8em; margin-top: 1em;}
.colorway3 #LocalNav ul li.header2 {background-color: #FFFFFF; color: #70800D; font-size: .8em; margin-top: 1em;}

#LocalNav li a, #LocalNav li a:link {font-weight: normal; text-decoration: none; background-color: inherit; color: #6F5D80;}
#LocalNav li a:visited {background-color: inherit; color: #808080;}
#LocalNav li a:hover, #LocalNav li a:active {background-color: #EDD9FF; color: #555555;}
#LocalNav li a.current,#LocalNav li a:visited.current {font-weight: bold; text-decoration: none; background-color: inherit; color: #555555;}


#Inset .InsetSection p {margin: 0; padding: 0 .5em 0 32px; padding-bottom: 1em;}
#Inset a {font-weight: normal; text-decoration: underline; background-color: inherit; color: #6F5D80;}
#Inset a:visited {background-color: inherit; color: #6F5D80;}
#Inset a:hover, #LocalNav a:active {background-color: #EDD9FF; color: #555555;}
#Inset a img {border: none;}

#Inset .InsetSection h2 {margin: 0; padding: 10px 0 6px 44px; font-size: 1.25em; }

#Main h1, #Main h1 a, #Main h1 a:visited, #Main h1 a:hover {font-size: 1.25em; margin: .5em 0 .5em 0; background-color: inherit; color: #555555; text-decoration: none;}

#Main h2 {position: relative; font-size: 1.25em; margin: .5em 0 .5em 0; background-color: inherit; color: #555555; text-decoration: none; width: 100%;}

#Main h2, #Main h2 a, #Main h2 a:visited {font-size: 1em; margin: .5em 0 .5em 0; background-color: inherit; color: #654680; text-decoration: none;}
#Main h2 a:hover {font-size: 1em; margin: .5em 0 .5em 0; background-color: #DDD3E5; color: #654680; text-decoration: underline;}

#Main h3 {position: relative; font-size: 1em; margin: .5em 0 .5em 0; background-color: inherit; color: #555555; text-decoration: none; width: 100%;}

#Main h5 {position: relative; font-size: 1em; margin: 0; padding: 0; background-color: inherit; color: #333333; text-decoration: none; width: 100%;}


p {margin: 0 0 1em 0; width: auto;}
* html p {margin: 0 0 1em 0;}


#Main p span a, #Main p a.bookReview, #Inset a.bookReview {background-color: #FFFFFF; text-decoration: none;}
#Main p span a:link, #Main p a:link.bookReview, #Inset a:link.bookReview {background-color: #FFFFFF; text-decoration: none;}
#Main p span a:visited, #Main p a:visited.bookReview, #Inset a:visited.bookReview {background-color: #FFFFFF; text-decoration: none;}
#Main p span a:hover, #Main p a:hover.bookReview, #Inset a:hover.bookReview {background-color: #FFFFFF; text-decoration: none;}

.afterimage {padding: 20em;}
 
#Main p a img {padding: 0 0 1em 0;}

#Main p.swatch {margin: 0; width: 100%; border: none;}
#Main p.swatch img {padding-right: .5em;}
#Main p.nextLink {margin: 0; width: 100%; padding-top: 2em;}


#Main a, #Main a:link {background-color: inherit; color: #215670; text-decoration: underline;}
#Main a:visited {background-color: inherit; color: #002E3F; text-decoration: underline;}
#Main a:hover, #Main a:active {background-color: #F1FF99; color: #555555; text-decoration: none;}


.clear {clear: both;}


#Footer {display: block; clear: both; font-size: .7em; margin: 0 21% 0 22%; padding: .5em 0 0 0;}
.colorway1 #Footer {border-top: 1px solid #B33642;}
.colorway2 #Footer {border-top: 1px solid #E8B315;}
.colorway3 #Footer {border-top: 1px solid #70800D;}
.colorway4 #Footer {border-top: 1px solid #4D648C;}
.colorway5 #Footer {border-top: 1px solid #6F4D8C;}

.cite {font-size: .8em;}